{% extends '../index_master.html'%}


{% block content %}
<div class="right_col" rola="main">
    
    <h1> Agregar una Propiedad</h1>
    <!-- Formulario para agregar Usuarios -->
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
      
<form>
  <div class="form-group row">
    <label for="text" class="col-4 col-form-label">TIPO DE PROPIEDAD</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"></div>
        </div> 
        <input id="text" name="text" type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="text1" class="col-4 col-form-label">USO DE SUELO</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"></div>
        </div> 
        <input id="text1" name="text1" type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="text2" class="col-4 col-form-label">UBICACIÓN</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"></div>
        </div> 
        <input id="text2" name="text2" type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="text3" class="col-4 col-form-label">M2 DE TERRENO</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"></div>
        </div> 
        <input id="text3" name="text3" type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="text4" class="col-4 col-form-label">M2 DE CONSTRUCCIÓN</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"></div>
        </div> 
        <input id="text4" name="text4" type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="text5" class="col-4 col-form-label">ESTATUS DE LA PROPIEDAD</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"></div>
        </div> 
        <input id="text5" name="text5" type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="text6" class="col-4 col-form-label">TIPO DE USO DEL INMUEBLE</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"></div>
        </div> 
        <input id="text6" name="text6" type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="text7" class="col-4 col-form-label">ANTIGÜEDAD</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"></div>
        </div> 
        <input id="text7" name="text7" type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="text8" class="col-4 col-form-label">INGRESOS</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"></div>
        </div> 
        <input id="text8" name="text8" type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="text9" class="col-4 col-form-label">GASTOS EN GENERAL</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"></div>
        </div> 
        <input id="text9" name="text9" type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="text10" class="col-4 col-form-label">PRECIO DE MERCADO</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"></div>
        </div> 
        <input id="text10" name="text10" type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="text11" class="col-4 col-form-label">PRECIO M2 EN EL MERCADO</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"></div>
        </div> 
        <input id="text11" name="text11" type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="text12" class="col-4 col-form-label">GANANCIAS DE CAPITAL</label> 
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"></div>
        </div> 
        <input id="text12" name="text12" type="text" class="form-control">
      </div>
    </div>
  </div> 
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button name="submit" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

    </div>
    

    
      <h1> Lista de Propiedades</h1>
      
  <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
      <!-- Cuadro -->
      <div class="table-responsive">
          <table class="table table-striped table-hover table-bordered table-sm table-light ">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">TIPO DE PROPIEDAD</th>
                <th scope="col">USO DE SUELO</th>
                <th scope="col">UBICACIÓN</th>
                <th scope="col">M2 DE TERRENO</th>
                <th scope="col">M2 DE CONSTRUCCIÓN</th>
                <th scope="col">ESTATUS DE LA PROPIEDAD</th>
                <th scope="col">TIPO DE USO DEL INMUEBLE</th>
                <th scope="col">ANTIGÜEDAD</th>
                <th scope="col">INGRESOS</th>
                <th scope="col">GASTOS EN GENERAL</th>
                <th scope="col">PRECIO DE MERCADO</th>
                <th scope="col"> PRECIO M2 EN EL MERCADO</th>
                <th scope="col">GANANCIAS DE CAPITAL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>TIPO DE PROPIEDAD</td>
                <td>USO DE SUELO</td>
                <td>UBICACIÓN</td>
                <td>M2 DE TERRENO</td>
                <td>M2 DE CONSTRUCCIÓN</td>
                <td>ESTATUS DE LA PROPIEDAD</td>
                <td>TIPO DE USO DEL INMUEBLE</td>
                <td>ANTIGÜEDAD</td>
                <td>INGRESOS</td>
                <td>GASTOS EN GENERAL</td>
                <td>PRECIO DE MERCADO</td>
                <td> PRECIO M2 EN EL MERCADO</td>
                <td>GANANCIAS DE CAPITAL</td>
                <td><a href="" class="btn btn-info">Editar</a></td>
              <td><a href="" class="btn btn-danger">eliminar</a></td>
              </tr>
              
            </tbody>
        
            <caption>
              Captions of the table
            </caption>
        
           </table> <!--Fintable -->
        </div>
  </div>


</div>

{% endblock%}